@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

@font-face {
	font-family: 'Owners-Wide';
	src: url('../assets/fonts/owners-wide.ttf') format('truetype');
}



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Owners-Wide';
}

html,
nav {
	background-color: #F0F0F0 !important;
}


main, footer{
	color: rgb(64, 70, 84) !important;
	margin: auto 10%;
}

main{
	margin-top: 225px;
}


nav{
	position: fixed !important;
	width: 100%;
	top: 0;
}

.linea-layout{
	margin-left: 10%;
	margin-right: 10%;
}

.navbar-menu{
	justify-content: center;
	background-color: #F0F0F0 !important;
}

.navbar-start{
	margin: 0;
}

.navbar-item-mod{
	color: hsla(221deg, 14%, 29%,1);
}

.title-class{
	color: rgb(241, 242, 255);
}

.is-size-5-5{
	font-size: 1.15rem;
}


.logo-image {
	object-fit: contain;
	max-height: 2.5rem !important;
	margin: 5%;
}

.image-index {
	object-fit: cover;
	width: 30vw;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.div-index-desktop {
	margin: 5% 0;
}

.divImg {
	position: relative;
}

.botton-final{
	width: 180px;
}

.text-ren{
	text-align: center;
}

.divHov {
	position: absolute;
	font-size: 300%;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	width: 100%;
	height: 100%;
}

.divHov p {
	color: white;
}

.divImg:hover .divHov {
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
}

.buttonIndex {
	background-color: #A4CD39 !important;
	color: #ffffff !important;
}

.buttonIndex:hover {
	background-color: #8BB82A !important;
}

.buttonIndex:active {
	background-color: #6E9223 !important;
}

.divFotter-up {
	width: 100%;
}

.divFotter-d a {
	color: black;
}

.divFotter-i,
.divFotter-d {
	display: flex;
	align-items: center;
	justify-content: center;
}

.divFotter-i {
	width: 30%;
}

.divFotter-d {
	width: 70%;
}


.logo-fotter {
	width: 256px;
}

.logo-redes {
	width: 32px;
}

.logo-redes i {
	font-size: 32px;
	color: #A4CD39;
}

.logo-redes i:hover {
	color: #8BB82A
}

.logo-redes i:active {
	color: #6E9223
}

.divRedes {
	width: 50%;
}

.div-contact ul {
	width: 45%;
}

.li-ubic::before {
	content: "\f3c5";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

.li-industry::before {
	content: "\f275";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

.li-phone::before {
	content: "\f095";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

.li-contact::before {
	content: "\f2c1";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

.li-email::before {
	content: "\f0e0";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

.li-whatsapp::before {
	content: "\f232";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right: 2em
}

/* Alianzas */

.carousel {
	position: relative;
	overflow: hidden;
}

.carousel-desktop{
	display: block;
}

.carousel-tablet{
	display: none;
}

.carousel-mobile{
	display: none;
}

.carousel-inner-desktop, .carousel-inner-tablet, .carousel-inner-mobile {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item-desktop, .carousel-item-tablet, .carousel-item-mobile {
	min-width: 100%;
	box-sizing: border-box;
	padding: 25px 0;
}

.carousel-item-desktop a, .carousel-item-tablet a, .carousel-item-mobile a{
	padding: 20px;
}

.carousel-item-desktop img, .carousel-item-tablet img, .carousel-item-mobile img{
	display: block;
	border-radius: 10px;
	width: 256px;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.2);
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}



/* Contact */

.card-contact {
	width: 33%;
	margin-bottom: 0 !important;
	background-color: hsl(221, 14%, 100%);
	color: hsla(221deg, 14%, 29%,1) !important;

}

.card-contact ul {
	list-style: none;
}

.card-contact a {
	color: #A4CD39;
}

.card-contact a:hover {
	color: #6E9223
}

.card-contact a:active {
	color: #000
}

.is-4{
	color: hsla(221deg, 14%, 29%,1);
}

/* Servicios */

.card-header-title{
	font-size: 1.75rem;

}

.toggle-button{
	cursor: pointer;
}

.arrow-icon {
    transition: transform 0.3s ease;
}

.card-header .arrow-icon.rotate {
    transform: rotate(180deg);
}

.serv-card{
	margin: auto 20px;
}

.image-ser {
	object-fit: cover;
	width: 100%;
	border-radius: 5px;
	border: #000 1px solid;
}

.text-serv {
	width: 80%;
	margin-right: 3rem;
	margin-top: 15px;
}

.title-type-service{
	color: #404654;
}

ol li{
	margin-left: 3rem ;
}

.card-content-serv {
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-out, padding 1s ease-out;
}

.card-content-serv.active {
	max-height: 3000px;
}

.card-content-serv>.content-serv,
.card-content-serv>.img-serv {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.card-content-serv.active>.content-serv,
.card-content-serv.active>.img-serv {
	opacity: 1;
}

.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.visible {
    max-height: 100000px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s;
}

/* Proyect */

.div-proyect{
	width: 40%;
	height: 100%;
	margin: 0 5%;
}

.logo-client{
	font-size: 24px;
}



@media only screen and (max-width: 1023px) {
	
	footer{
		text-align: center;
	}
	
	.divFotter-up, .divFotter-d, .div-contact{
		flex-direction: column !important;
	}

	.divFotter-i{
		margin-bottom: 2rem ;
		width: 100%;
	}

	.divFotter-up{
		align-items: center;
		margin: 1rem auto;
	}

	.divFotter-d{
		width: 90%;
		margin: auto 5%;
	}

	.div-contact ul{
		width: 90%;
		margin: 5%;
	}

	.divRedes{
		justify-content: center !important;
		margin-top: 1rem;
	} 

	.button-class{
		margin-top: 2.5rem;
	}

	/*Index*/
	.div-index-desktop{
		display: none !important;
	}

	.img-index-mobile{
		object-fit: cover;
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
		border-radius: 5px 5px 0px 0px ;
	}

	.div-index-mobile-img{
		border-radius: 10px;
		max-width: 650px;
		margin: auto;
	}

	.div-index-access{
		width: 70%;
	}

	.div-button{
		width: 70%;
	}

	.botton-final{
		width: 100%;
	}


	/*Service*/

	.card-content-serv{
		flex-direction: column;
	}

	.serv-card{
		margin: 0;
	}

	.text-serv{
		margin-right: 0;
		width: 95%;
	}

	.img-serv{
		max-width:50%;
	}

	ol li{
		margin-left: 0 ;
	}

	/*About us*/

	.carousel-desktop{
		display: none;
	}

	.carousel-tablet{
		display: block;
	}

	.carousel-mobile{
		display: none;
	}

	/*Contact*/

	.card-contact-content{
		flex-direction: column;
	}
	.card-contact{
		width: 70%;
		margin: auto;
		margin-bottom: 3rem !important;
	}

}

@media only screen and (max-width: 768px) {
	.div-button{
		width: 100%;
	}

	.img-serv{
		width: 95%;
	}

	.div-proyect-conteiner{
		flex-direction: column;
	}

	.div-proyect{
		width: 90%;
	}

	.carousel-desktop{
		display: none;
	}

	.carousel-tablet{
		display: none;
	}

	.carousel-mobile{
		display: block;
	}

	.card-contact{
		width: 90%;
	}
}

@media only screen and (max-width: 425px) {
	.carousel-item-mobile img{
		width: 80%;
		margin: auto;
	}

	.card-contact{
		width: 100%;
	}

	.card-content{
		padding: 1rem;
	}

	.img-serv{
		max-width:80%;
	}
}


@media only screen and (min-width: 1024px) {
	.div-index-mobile{
		display: none !important;
	}
}
