@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	margin: 0 10%;
}

.logo-image { 
    object-fit: contain; 
}

.image-index{
	object-fit: cover;
	width: 30vw;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.div-index{
	margin: 5% 0;
}

.divImg{
	position: relative;
}

.divImg p{
	position: absolute;
	font-size: 300%;
	opacity: 0;
    transition: opacity .5s ease-in-out;
}

.divImg:hover p{
	opacity: 1;
}
