@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

@font-face {
    font-family: 'Owners-Wide';
    src: url('../assets/fonts/owners-wide.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Owners-Wide';
}

html, nav{
	background-color: #F0F0F0 !important;
}

body{
	margin: 0 10%;
}

.logo-image { 
    object-fit: contain; 
}

.image-index{
	object-fit: cover;
	width: 30vw;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.div-index{
	margin: 5% 0;
}

.divImg{
	position: relative;
}

.divHov{
	position: absolute;
	font-size: 300%;
	opacity: 0;
    transition: opacity .5s ease-in-out;
	width: 100%;
	height: 100%;
}

.divHov p{
	color: white;
}

.divImg:hover .divHov{
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.6);
}

.buttonIndex{
	background-color: #A4CD39 !important; 
	color: #ffffff !important;
}

.buttonIndex:hover{
	background-color: #8BB82A !important;
}

.buttonIndex:active{
	background-color: #6E9223 !important;
}

.divFotter-up{
	width: 100%;
}

.divFotter-d a{
	color: black;
}

.divFotter-i,  .divFotter-d{
	display: flex;
	align-items: center;
	justify-content: center;
}

.divFotter-i{
	width: 30%;
}

.divFotter-d{
	width: 70%;
}


.logo-fotter{
	width: 256px;
}

.logo-redes{
	width: 32px;
}

.logo-redes i{
	font-size: 32px;
	color: #A4CD39;
}

.logo-redes i:hover{
	color: #8BB82A
}

.logo-redes i:active{
	color: #6E9223
}

.divRedes{
	width: 50%;
}

.div-contact ul{
	width: 45%;
}

.li-ubic::before{
	content: "\f3c5";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em

}

.li-industry::before{
	content: "\f275";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em
}

.li-phone::before{
	content: "\f095";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em
}

.li-contact::before{
	content: "\f2c1";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em
}

.li-email::before{
	content: "\f0e0";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em
}

.li-whatsapp::before{
	content: "\f232";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
	padding-right:2em
}

/* Alianzas */

.carousel{
	position: relative;
	overflow: hidden;
}

.carousel-inner{
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
	padding: 25px 0;
}

.carousel-item img {
    display: block;
    border-radius: 10px;
	width: 256px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Contact */

.card-contact{
	width: 33%;
	margin-bottom:0 !important
}

.card-contact ul{
	list-style: none;
}

.card-contact a{
	color: #A4CD39;
}

.card-contact a:hover{
	color: #6E9223
}

.card-contact a:active{
	color: #000
}