---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import beming from '../assets/img/Logos-Alianzas/bemingLogo.webp'
import bezer from '../assets/img/Logos-Alianzas/bezerLogo.webp'
import euskal from '../assets/img/Logos-Alianzas/euskalLogo.webp'
import archea from '../assets/img/Logos-Alianzas/archeaLogo.webp'


---

<Layout title="4NE - Acerca de">
	<main>
		<h1 class="is-size-1 has-text-centered mt-6">Acerca de Nosotros</h1>
		<div>
			<h2 class="is-size-3"> - Nuestras Experiecias</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, est magnam dignissimos autem eius consectetur fugiat corporis a corrupti ratione recusandae error dolores quos. Commodi repellat perferendis excepturi voluptates consequatur.
			</p>
		</div>
		<div>
			<h2 class="is-size-3"> - Asociaciones Estrategicas</h2>
			<div>
				<div class="is-flex ">
					<div class="box div-ali">
						<Picture class="image-ali image" src={archea} alt='Logo de 4NE'/> 
					</div>
					<div class="box div-ali">
						<Picture class="image-ali image" src={beming} alt='Logo de 4NE'/> 
					</div>
					<div class="box div-ali">
						<Picture class="image-ali image" src={bezer} alt='Logo de 4NE'/> 
					</div>
					<div class="box div-ali">
						<Picture class="image-ali image" src={euskal} alt='Logo de 4NE'/> 
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>