---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import ingenieria from "../assets/img/img3.jpg";
import renovables from "../assets/img/digestor.webp";
---

<Layout title="4NE - Incio">
	<script src="../scripts/animateIndex.js"></script>
	<main>
		<div
			class="is-flex is-flex-direction-row is-justify-content-center py-5 div-index-desktop"
		>
			<div class="divImg is-flex" id="image-index-ing">
				<Picture
					class="image-index image is-3by4"
					src={ingenieria}
					alt="Logo de 4NE"
				/>
				<div
					class="divHov is-flex is-flex-direction-column is-justify-content-center is-align-items-center"
				>
					<p class="mb-6">Ingenieria</p>
					<div>
						<button
							class="button buttonIndex is-rounded is-inverted"
							id="service-ing-button">Servicios</button
						>
						<button
							class="button buttonIndex is-rounded is-inverted"
							id="proyect-ing-button">Proyectos</button
						>
					</div>
				</div>
			</div>
			<div
				class="divImg is-flex is-justify-content-center is-align-items-center"
				id="image-index-ren"
			>
				<Picture
					class="image-index image is-3by4"
					src={renovables}
					alt="Logo de 4NE"
				/>
				<div
					class="divHov is-flex is-flex-direction-column is-justify-content-center is-align-items-center"
				>
					<p class="mb-6">Renovables</p>
					<div>
						<button
							class="button buttonIndex is-rounded is-inverted"
							id="service-ren-button">Servicios</button
						>
						<button
							class="button buttonIndex is-rounded is-inverted"
							id="proyect-ren-button">Proyectos</button
						>
					</div>
				</div>
			</div>
		</div>

		<div
			class="is-flex is-flex-direction-column is-justify-content-center py-5 div-index-mobile"
		>
			<div
				class="is-flex is-flex-direction-column is-align-items-center has-background-black my-6 div-index-mobile-img"
			>
				<Picture
					class="img-index-mobile image is-3by4"
					src={ingenieria}
					alt="Logo de 4NE"
				/>
				<div
					class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center div-index-access"
				>
					<p class="my-4 is-size-3">Ingenieria</p>
					<div
						class="mb-3 is-flex is-flex-wrap-wrap is-justify-content-space-around mt-4 div-button"
					>
						<button
							class="button buttonIndex is-rounded is-inverted mb-4"
							id="service-ing-button-mobile">Servicios</button
						>
						<button
							class="button buttonIndex is-rounded is-inverted mb-4"
							id="proyect-ing-button-mobile">Proyectos</button
						>
					</div>
				</div>
			</div>
			<div
				class="is-flex is-flex-direction-column is-align-items-center has-background-black my-6 div-index-mobile-img"
			>
				<Picture
					class="img-index-mobile image is-3by4"
					src={renovables}
					alt="Logo de 4NE"
				/>
				<div
					class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center div-index-access"
				>
					<p class="my-4 is-size-3">Renovables</p>
					<div
						class="mb-3 is-flex is-flex-wrap-wrap is-justify-content-space-around mt-4 div-button"
					>
						<button
							class="button buttonIndex is-rounded is-inverted mb-4"
							id="service-ren-button-mobile">Servicios</button
						>
						<button
							class="button buttonIndex is-rounded is-inverted mb-4"
							id="proyect-ren-button-mobile">Proyectos</button
						>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	const serviceIngButton = document.getElementById("service-ing-button");
	const serviceIngButtonMobile = document.getElementById("service-ing-button-mobile");
	const proyectIngButton = document.getElementById("proyect-ing-button");
	const proyectIngButtonMobile = document.getElementById("proyect-ing-button-mobile");
	const serviceRenButton = document.getElementById("service-ren-button");
	const serviceRenButtonMobile = document.getElementById("service-ren-button-mobile");
	const proyectRenButton = document.getElementById("proyect-ren-button");
	const proyectRenButtonMobile = document.getElementById("proyect-ren-button-mobile");

	serviceIngButton.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionSerIng();
	});
	serviceIngButtonMobile.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionSerIng();
	});
	
	proyectIngButton.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionProIng();
	});
	proyectIngButtonMobile.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionProIng();
	});
	
	serviceRenButton.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionSerRen();
	});
	serviceRenButtonMobile.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionSerRen();
	});

	proyectRenButton.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionProRen();
	});
	proyectRenButtonMobile.addEventListener("click", function (event) {
		event.preventDefault();
		funcionPreNavegacionProRen();
	});

	function funcionPreNavegacionSerIng() {
		localStorage.setItem("pagTipo", "ing");
		window.location.href = "/service";
	}
	function funcionPreNavegacionProIng() {
		localStorage.setItem("pagTipo", "ing");
		window.location.href = "/proyect";
	}
	function funcionPreNavegacionSerRen() {
		localStorage.setItem("pagTipo", "ren");
		window.location.href = "/service";
	}
	function funcionPreNavegacionProRen() {
		localStorage.setItem("pagTipo", "ren");
		window.location.href = "/proyect";
	}
</script>
