---
import Layout from '../layouts/Layout.astro';

//const links = await Astro.glob('./proyectos/*.astro');
//console.log(links.map((link) => link.url));
---

<Layout
	title="Astro"
	descripcion="Astro is a fresh but familiar approach to building websites. Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era. Use your favorite JavaScript framework and automatically ship the bare-minimum amount of JavaScript—by default."
>
	<main>

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus incidunt cum iure quibusdam beatae id similique, modi ad. Quisquam deserunt molestias laborum a dolore quo dicta officia perspiciatis consectetur necessitatibus.</p>


	</main>
</Layout>