---
import Layout from "../layouts/Layout.astro";
import { Picture } from 'astro:assets';
import ingenieria from '../assets/img/img3.jpg'
import renovables from '../assets/img/digestor.webp'

---

<Layout title="4NE - Incio">
	<main>
			<div class="is-flex is-flex-direction-row is-justify-content-center py-5 div-index">
				<div class="divImg is-flex" id="image-index-ing">
					<Picture class="image-index image is-3by4"  src={ingenieria} alt='Logo de 4NE'/>
					<div class="divHov is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
						<p class="mb-6">Ingenieria</p>
						<a class="button buttonIndex is-rounded is-inverted" href="/">Entrar</a> 
					</div>
				</div>
				<div class="divImg is-flex is-justify-content-center is-align-items-center" id="image-index-ren">
					<Picture class="image-index image is-3by4" src={renovables} alt='Logo de 4NE'/> 
					<div class="divHov is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
						<p class="mb-6">Renovables</p>
						<a class="button buttonIndex is-rounded is-inverted" href="/">Entrar</a> 
					</div>
				</div>
			</div>
	</main>
</Layout>

<script>
	import anime from 'animejs/lib/anime.es.js';
	
	let imgIng = document.getElementById("image-index-ing")
	let imgRen = document.getElementById("image-index-ren")

	
	imgIng.addEventListener("mouseover", () => {
		anime({
			targets: "#image-index-ing",
			translateX:150,
			scale: 1,
			opacity: 1,
			begin: (anim)=>{
				anim.animatables[0].target.style.zIndex = 1;
			}
		})

		anime({
			targets: "#image-index-ren",
			translateX:0,
			scale: .8,
			opacity: .5,
			begin: (anim)=>{
				anim.animatables[0].target.style.zIndex = 0;
			}
		})
	});

	imgRen.addEventListener("mouseover", () => {
		anime({
			targets: "#image-index-ren",
			translateX:-150,
			scale: 1,
			opacity: 1,
			begin: (anim)=>{
				anim.animatables[0].target.style.zIndex = 1;
			}
		})

		anime({
			targets: "#image-index-ing",
			translateX:0,
			scale: .8,
			opacity: .5,
			begin: (anim)=>{
				anim.animatables[0].target.style.zIndex = 0;
			}
		})
	});
	
	anime.set("#image-index-ing", {
		translateX:0,
		scale: .8,
		opacity: .5,
	})
	
	anime.set("#image-index-ren", {
		translateX:-150,
	})



</script>
