---
import Layout from "../layouts/Layout.astro";
import { Picture } from 'astro:assets';
import ingenieria from '../assets/img/img3.jpg'
import renovables from '../assets/img/digestor.webp'

---

<Layout title="4NE - Proyectos">
	<main>
		<h2 class="has-text-centered is-size-1 mt-5" id="title-secction">Proyectos</h2>
		<div>
			<div>
				
			</div>
		</div>
	</main>
</Layout>