---
import Layout from "../layouts/Layout.astro";
import { Picture } from 'astro:assets';
import ingenieria from '../assets/img/img3.jpg'
import renovables from '../assets/img/digestor.webp'

---

<Layout title="4NE - Proyectos">
	<main>
		<h2 class="has-text-centered is-size-1 mt-5" id="title-secction">Proyectos</h2>
		<hr>
		<div>
			<div>
				<div class="is-flex is-justify-content-space-around has-text-centered">
					<div class="is-flex is-flex-direction-column is-justify-content-center">
						<h3 class="is-size-3 mb-5">En obra</h3>
						<div>
							<h4 class="is-size-4 mb-2">Proyecto 1</h4>
							<p class="is-size-5">Esto es un proyectos de varias cosas</p>
							<hr>
						</div>
						<div>
							<h4 class="is-size-4 mb-2">Proyecto 1</h4>
							<p class="is-size-5">Esto es un proyectos de varias cosas</p>
							<hr>
						</div>
						<div>
							<h4 class="is-size-4 mb-2">Proyecto 1</h4>
							<p class="is-size-5">Esto es un proyectos de varias cosas</p>
							<hr>
						</div>
					</div>
					<div>
						<h3>Finalizados</h3>
						<div>
							<h4>Proyecto 1</h4>
							<p>Esto es un proyectos de varias cosas</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>