---
import { Picture } from "astro:assets"
import logo from "../assets/img/4NE - Logo Horizontal.png"
---

<footer class="is-flex is-flex-direction-column is-align-items-center  is-flex-direction-">
    <div class="is-flex is-justify-content-center divFotter-up">
        <div class="divFotter-i">
            <Picture class="image logo-fotter"  src={logo} alt='Soluciones de Energía Renovable para Empresas - 4NE'/>
        </div>
        <div class="divFotter-d">
            <ul>
                <li class="li-ubic mb-3"><a href="https://www.google.com.gt/maps/place/4NE+-+Planta+Industrial/@-32.8587379,-60.8890479,18z/data=!3m1!4b1!4m14!1m7!3m6!1s0x95b649456d23f921:0x4d7d726b74d51b79!2sTEXEL+SRL+-+Maderas!8m2!3d-32.8588792!4d-60.8873983!16s%2Fg%2F11s5ww9rm_!3m5!1s0x95b649f024f1ef21:0x6fa40689553292a1!8m2!3d-32.8587402!4d-60.8877604!16s%2Fg%2F11y50mmjc7?entry=ttu" target="_blank">Oficina Comercial - Pichincha Bis 54 Rosario, Santa Fe</a></li>
                <li class="li-industry mb-3"><a href="https://www.google.com.gt/maps/place/4NE+-+Planta+Industrial/@-32.8587379,-60.8890479,18z/data=!3m1!4b1!4m14!1m7!3m6!1s0x95b649456d23f921:0x4d7d726b74d51b79!2sTEXEL+SRL+-+Maderas!8m2!3d-32.8588792!4d-60.8873983!16s%2Fg%2F11s5ww9rm_!3m5!1s0x95b649f024f1ef21:0x6fa40689553292a1!8m2!3d-32.8587402!4d-60.8877604!16s%2Fg%2F11y50mmjc7?entry=ttu" target="_blank">Planta Industrial - RN A012 Km47 Roldán, Santa Fe</a></li>
                <hr class="has-background-black" >
                <div class="is-flex is-justify-content-space-between mt-5 div-contact">
                    <ul>
                        <li class="li-contact mb-3">Sebastian Gibbons</li>
                        <li class="li-phone mb-3"><a href="tel:+5493416187180">+54 9 (341) 618-7180</a></li>
                        <li class="li-whatsapp mb-3" ><a href="https://wa.me/5493416187180" target="_blank">+54 9 341 618-7180</a></li>
                        <li class="li-email mb-3"><a href="mailto:sebastian@4ne.com.ar">sebastian@4ne.com.ar</a></li>
                    </ul>
                    <ul>
                        <li class="li-contact mb-3">Ing Dario Gentile</li>
                        <li class="li-phone mb-3"><a href="tel:+5492616793419">+54 9 (261) 679-3419</a></li>
                        <li class="li-whatsapp mb-3" ><a href="https://wa.me/5492616793419" target="_blank">+54 9 261 679-3419</a></li>
                        <li class="li-email mb-3"><a href="mailto:dario@4ne.com.ar">dario@4ne.com.ar</a></li>
                    </ul>
                </div>
                
            </ul>
        </div>

    </div>
    <div class="is-flex is-justify-content-space-between divFotter-up">
        <p>Todos los derechos reservados - Four Natural Energy©</p>
        <div class="divRedes is-flex is-justify-content-end">
            <a class="logo-redes" target="_blank
            " href="https://www.linkedin.com/company/four-natural-energy"><i class="fa-brands fa-linkedin"></i></a>
            <a class="logo-redes" target="_blank
            " href="https://www.instagram.com/fournaturalenergy/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>

</footer>
