---
import { Picture } from 'astro:assets';
import logo from '../assets/img/Logo 4NE - Chico.png'
---

<nav class="navbar is-justify-content-center">
	
	<div class="navbar-brand">

			<a class="navbar-item" href="/">
				<Picture class="logo-image" src={logo} alt='Logo de 4NE'/>
			</a>

	</div>
	
	
	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item" href="/">Inicio</a>
			<a class="navbar-item" href="/service/">Servicios</a>
			<a class="navbar-item" href="/proyect/">Proyectos</a>
			<a class="navbar-item" href="/about/">Quienes somos?</a>
			<a class="navbar-item" href="/contact/">Contacto</a>
		</div>
	</div>
	
	<div class="navbar-end">
		<div class="navbar-item">
			<div class="buttons">
				<a class="button" href="/">Renovables</a>
				<a class="button" href="/proyectBioF/">Proyecto BioF</a>

			</div>

		</div>
	</div>
	
	
	

</nav>
