---
import { Picture } from "astro:assets";
import logo from "../assets/img/Logo 4NE - Chico x40.png";
---

<script src="../scripts/burger.js"></script>
<nav class="navbar is-transparent is-justify-content-center">
	<div class="navbar-brand">
		<a class="navbar-item navbar-item-logo" href="/">
			<Picture class="logo-image" src={logo} alt="Soluciones de Energía Renovable para Empresas - 4NE" /> 
		</a>
		<div
			role="button" 
			class="navbar-burger"
			id="navbar-burger"
			aria-label="menu"
			aria-expanded="false"
			data-target="navbarExampleTransparentExample"
		>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</div>
	</div>

	<div id="navbarExampleTransparentExample" class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item navbar-item-mod" href="/">Inicio</a>
			<a class="navbar-item navbar-item-mod" href="/service/">Servicios</a>
			<a class="navbar-item navbar-item-mod" href="/proyect/">Proyectos</a>
			<a class="navbar-item navbar-item-mod" href="/about/">Quienes somos?</a>
			<a class="navbar-item navbar-item-mod" href="/politica-de-cookies/">Cookies</a>
			<a class="navbar-item navbar-item-mod" href="/contact/">Contacto</a>
		</div>
	</div>

	<div class="navbar-end botton-final">
		<div class="navbar-item">
			<div class="buttons is-justify-content-center">
				<button class="button is-rounded is-inverted button-class" id="pag-toggle"
					>Renovables<i class="fa-solid fa-repeat ml-2"></i></button
				>
			</div>
		</div>
	</div>
</nav>

<script>

	document.addEventListener("DOMContentLoaded", function () {
		if (!localStorage.getItem("pagTipo")) {
			localStorage.setItem("pagTipo", "ing");
		}

		let tipoPag = localStorage.getItem("pagTipo");
		const btnPag = document.getElementById("pag-toggle");
		const textNode = btnPag.firstChild;

		if (tipoPag === "ing") {
			textNode.nodeValue = "Renovables ";
		} else if (tipoPag === "ren") {
			textNode.nodeValue = "Oil & Gas ";
		}

		btnPag.addEventListener("click", () => {
			if (tipoPag === "ing") {
				tipoPag = "ren";
				localStorage.setItem("pagTipo", "ren");
				textNode.nodeValue = " Oil & Gas ";
			} else if (tipoPag === "ren") {
				tipoPag = "ing";
				localStorage.setItem("pagTipo", "ing");
				textNode.nodeValue = "Renovables ";
			}

			const event = new CustomEvent("pagToggle", {
				detail: { tipoPag: tipoPag },
			});
			document.dispatchEvent(event);
		});
	});
	
</script>
