---
import  Layout  from "../../layouts/Layout.astro"
---

<Layout
	title="Astro"
	descripcion="Astro is a fresh but familiar approach to building websites. Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era. Use your favorite JavaScript framework and automatically ship the bare-minimum amount of JavaScript—by default."
>
	<main>

		serv

	</main>
</Layout>