---
import Head from "../components/Head.astro"
import Nav from "../components/Nav.astro";

export interface Props {
	title: string;
	descripcion: string;
	urlCanonica?: URL;
	page: string;
}

const { title, descripcion, urlCanonica = Astro.url, page } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} descripcion={descripcion} urlCanonica={urlCanonica} />
	<header class="h-[10vh]">
		<Nav page={page} />
	</header>
	<body>
		<slot />
	</body>
</html>
